title,source,doi,status,error_message
Naturalization documents: Yoshio Hattori,http://hdl.handle.net/10613/1955,https://doi.org/10.25316/ejg9-6046,201,
Naturalization documents: Tekutaro Uyene,http://hdl.handle.net/10613/1957,https://doi.org/10.25316/0tns-hc90,201,
Naturalization documents: Renichi Nagao,http://hdl.handle.net/10613/1958,https://doi.org/10.25316/k2f2-vk50,201,
Naturalization documents: K. Kitamura,http://hdl.handle.net/10613/1954,https://doi.org/10.25316/h017-tr44,201,
Naturalization documents: Shigekuni Sekihama,http://hdl.handle.net/10613/1956,https://doi.org/10.25316/j5hy-k655,201,
